
/** Background colors**/
.bg-primary-color {
    background: #ffe900;
}

.bg-accent-color {
    background: #ffe900;
}

.bg-white-color {
    background: #d9e4e3;
}

.bg-black-color {
    background: #212322;
}

.bg-gray-one-color {
    background: #474647;
}

.bg-gray-two-color {
    background: #6B6A6B;
}
∫
.bg-gray-three-color {
    background: gray;
}

/** Text colors**/
.primary-color {
    color: #ffe900;
}

.accent-color {
    color: #ffe900;
}

.secundary.color{
    color: #bc204b
}

.white-color {
    color: #d9e4e3;
}

.black-color {
    color: #212322;
}

.gray-one-color {
    color: #474647;
}

.gray-two-color {
    color: #6B6A6B;
}

.gray-three-color {
    color: #EFEFEF;
}
